<section class="sidenav-img">
  <img
    src="assets/profilepic.png"
    alt="foto perfil"
    [width]="profilePicSize()"
    [height]="profilePicSize()"
  />
  <article class="sidenav-text" [class.hide-sidenav-text]="sideNavCollpsed()">
    <h5>Ramon Trindade</h5>
    <p>Blog Hub admin</p>
  </article>
</section>

<mat-nav-list>
  @for (item of menuItems(); track $index) {

  <a
    class="menu-item"
    mat-list-item
    [routerLink]="item.route"
    routerLinkActive="selected-menu-item"
    #rla="routerLinkActive"
    [activated]="rla.isActive"
  >
    <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>

    @if(!sideNavCollpsed()) {
    <span matListItemTitle>{{ item.state }}</span
    >}
  </a>

  }
</mat-nav-list>
